
body{
  font-family: 'Poppins', sans-serif;
  height:100%;
   background:url('https://plus.unsplash.com/premium_photo-1661775756810-82dbd209fc95?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1954')
    no-repeat center center/cover;
}
/*section headings*/
h2{
    font-weight: 50px bold;
    margin-bottom: 1rem;
}
/*menu icon*/
.menu-icon{
    font-size:28px;
    cursor: pointer;
    display: flex;
}
/*navbar*/
.navbar-brand{
    font-weight:bold;
    letter-spacing: 1px;
}
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #0c0c0c;
  object-fit: cover;
}
.project-card {
  border-radius: 8px 8px 0 0;
  
  padding: 25px;
  transition: transform 0.3s;
}
.project-card:hover { 
    transform: translateY(-5px);
    transition: all 0.3s ease;
 }
 /*color buttons*/
.btn-pink { background-color: #d63384; color:#fff }
.btn-pink:hover{background-color: #b12b6f; color:#fff}
.btn-yellow { background-color: #f6c23e; color:#fff }
.btn-yellow:hover{background-color: #f6c23e; color:#fff}
.btn-teal { background-color: #20c997; color:#fff }
.btn-teal:hover{background-color: #20c997; color:#fff}

.about-box {
  border-radius: 8px;
   transition: translateX(-8px);
  box-shadow: 0 8px 20px ;;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#blog .card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#blog .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px ;
}


#blog .card img {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

  
/* Footer */
footer {
  font-size: 0.9rem;
  text-align: center;
  
  background: #222;
  color: rgb(237, 9, 13);
  
}

/* Navbar styling */
.navbar {
    padding: 15px 20px;
}

.nav-link {
    font-weight: bold;
    margin-left: 10px;
    transition: 0.3s;
}

.nav-link:hover {
    color: #033278 !important;
    transform: translateY(-2px);
}
/*menu icon*/
.menu-icon{
    font-size:28px;
    cursor: pointer;
    display: none;
}
/*responsive*/
@media ( max-width:768px)
{
    .menu-icon{
        display:flex;
    }
}

/* Hero section example */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    text-align: center;
}

/* Footer stays at bottom */
footer {
    margin-top: auto;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}


/* Form styles */
form input,
form textarea {
    border-radius: 8px !important;
}

form input:focus,
form textarea:focus {
    border-color: #0d6efd !important;
    box-shadow: none !important;
}

/* Buttons */
.btn-primary {
    border-radius: 8px;
}